@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
  font-family: "PT Sans", sans-serif;
}
body {
  background: #f4f5f9;
}
.wrapper {
  max-width: 1440px;
  min-height: 800px;
  margin: 0 auto;
  border: 1px solid #e2e5eb;
  border-top: none;
  border-bottom: none; 
  display: flex;
  height: 100vh;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}
.wrapper:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  border-top: 1px solid #e2e5eb;
}
.wrapper:after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 20;
  border-left: 1px solid #e2e5eb;
}
h1 {
  font-size: 56px;
  color: #42567A;
  padding-left: 50px;
  position: relative;
  line-height: 1;
  position: absolute;
  top: 100px;
  left: 0;
}
h1:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#de66a5, #996bc0, #5274e0);
  width: 2px;
  height: 120px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}


.category-label {
  font-size: 20px;
  margin-bottom: 10px;
  position: absolute;
  top: calc(50% - 125px);
  left: calc(50% + 230px);
}

.circle-container {
  position: absolute;
  width: 300px;
  height: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  transform: scale(1.5);
  transform-origin: 50% 50%;
  z-index: 200;
}

.circle {
  width: 100%;
  height: 100%;
  border: 1px solid #303E5880;
  border-radius: 50%;
  position: relative;
}

.circle-point {
  position: absolute;
  z-index: 20;
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #42567A;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  font-size: 0;

}

.circle-point.active {
  font-size: 14px;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
}

.point-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform-origin: center;
}

.point-number {
  font-size: 0.8em;
  color: white;
}

.year-counter {
  font-size: 200px;
  text-align: center;
  top: calc(50% - 120px);
  left: 0;
  width: 100%;
  height: 100px;
  position: absolute;
}

.year-counter span {
  margin: 0 30px;
  font-weight: 700;
  position: relative;
  z-index: 100;
  display: inline-block;
  line-height: 1;
}

.slide-description {
  text-align: center;
  margin-bottom: 20px;
}

.swiper1 {
  width: 100%;
  margin: 20px auto;
  position: absolute;
  bottom: 0;
  left: 0;
}
.swiper-wrapper {
  z-index: 100;
  background: #f4f5f9;
}
.swiper2 .swiper-button-prev {
  display: none;
}

.swiper-button-prev, .swiper-button-next {
  background: url(./arrow.png) no-repeat 50% 50%;
  background-size: 9px auto;
  width: 50px;
  height: 50px;
  border: 1px solid #42567A80;
  border-radius: 50%;
  z-index: 2000;
}
.swiper .swiper .swiper-button-next {
  background-color: #fff;
  box-shadow: 1px 1px 10px #3877EE1A;
  border: none;
}
.swiper-button-next {
  transform: rotate(180deg);
}
.swiper-button-prev:after, .swiper-button-next:after {
  opacity: 0;
}
 
.year {
  color: #3877EE;
  font-size: 25px;
  padding: 70px 0 15px;
  background: #f4f5f9;
  font-family: "Bebas Neue", sans-serif;
  max-width: 300px;
}
.swiper-fade .swiper-slide-active .swiper-slide-active {
  background: #f4f5f9;
}
.digit {
  background: #f4f5f9;
}
.text {
  color: #42567A;
  max-width: 310px;
  padding-bottom: 20px;
  background: #f4f5f9;
}
.swiper1 {
  width: calc(100% - 30px);
  left: 50px;
  bottom: 20px;
}
.swiper1>.swiper-button-prev {
  position: absolute;
  top: 45px;
  left: 0;
}
.swiper1>.swiper-button-next {
  position: absolute;
  top: 45px;
  left: 70px;
}
.swiper-pagination {
  display: none;
}
.swiper .swiper {
  margin-right: 20px;
}
.swiper .swiper .swiper-button-prev {
  display: none;
}
@media(max-width: 1024px) {
  .wrapper {
    border: none;
    min-height: 100%;
  }
  h1:before, .wrapper:after, .wrapper:before, .circle-container, 
  .swiper .swiper .swiper-button-next, .category-label {
    display: none;
  }
  .swiper .swiper .swiper-pagination {
    display: block;
    z-index: 2000;
    max-width: 350px;
  }
  h1 {
    padding-left: 0;
    top: 50px;
    font-size: 20px;
  }
  .year-counter {
    font-size: 56px;
    top: 30%;
    border-bottom: 1px solid #ccc;
  }
  .year-counter span {
    margin: 0 10px;
  }
  .swiper-button-prev, .swiper-button-next {
    width: 25px;
    height: 25px;
  }
  .swiper1 {
    left: 0;
  }
  .text {
    max-width: 100%;
  }
  .swiper1>.swiper-button-next {
    left: 35px;
  }
  .swiper-wrapper {
    background: none;
  }
  .swiper1>.swiper-button-next, .swiper1>.swiper-button-prev {
    top: 428px;
    }
    .swiper .swiper {
      min-width: 450px;
    }

    .swiper .swiper .swiper-slide {
      opacity: 0.5;
    }
    .swiper .swiper .swiper-slide-active {
      opacity: 1;
    }

  .text {
    padding-bottom: 200px;
  }
  .digit {
    position: absolute;
    bottom: 50px;
    z-index: 2000;
  }
}